body{
	background-color: lightblue;
	font-weight: bold;
	color: red;
    text-align: center;
}

/*this is for password branch*/

p{
	font-weight: bold;
	color: lightgreen;
	background-color: lightpink;
	font-size: 20px;
	text-align: center;
}